---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Qwop Capital.">
  <main class="flex items-center flex-col w-full max-w-7xl mx-auto flex-1 px-4">
    <div class="text-center mt-12">
      <p class="text-2xl text-blue-500">Welcome to</p>

      <h1 class="text-7xl font-bold uppercase">Qwop Capital</h1>
      <span class="mt-2 block text-2xl italic"
        >Trading through unorthodox ways</span
      >
    </div>
    <div class="w-full mt-12 h-1 bg-gray-800 content-['']"></div>
    <div class="text-center max-w-2xl mt-10">
      <h2 class="text-2xl text-blue-500">What is QWOP?</h2>
      <p class="text-lg">
        QWOP Capital is a personal investment company. QWOP resonates, but is
        not affiliated with, the classic QWOP game — embracing the idea of
        getting as far along your journey as possible in an unorthodox manner.
        The most pivotal facet to the QWOP strategy is the "Do Not Fret" frame
        of mind. Dedicated to trading and investing education, QWOP desires to
        lead a new generation of traders along their journey.
      </p>
    </div>
  </main>
</Layout>
