---
import { Image } from "astro:assets";
---

<div class="bg-slate-900 sticky top-0 h-24">
  <header
    class="lg:flex p-5 gap-5 text-white max-w-7xl mx-auto flex items-center justify-center"
  >
    <div class="flex w-full justify-between">
      <a href="/">
        <Image src="/qwop-logo.png" alt="QWOP Logo" width="150" height="100" />
      </a>
      <div class="flex items-center justify-center lg:hidden">
        <input type="checkbox" id="menu-toggle" class="hidden peer" />
        <label for="menu-toggle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-menu"
            ><line x1="4" x2="20" y1="12" y2="12"></line><line
              x1="4"
              x2="20"
              y1="6"
              y2="6"></line><line x1="4" x2="20" y1="18" y2="18"></line></svg
          >
        </label>
        <div
          class="fixed peer-checked:left-0 left-full right-0 h-[calc(100vh-96px)] bg-slate-800 top-24 transition-all"
        >
          <nav class="items-center justify-center flex text-center h-1/2">
            <ul class="flex flex-col lg:flex-row lg:gap-5 text-4xl space-y-6">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/resources">Resources</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <nav class="hidden lg:flex items-center justify-center">
        <ul class="flex flex-col lg:flex-row lg:gap-5 text-xl">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/resources">Resources</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>
